@model ProfileViewModel

<h1>Hello! My name is @Model.Name</h1>

<h2>I'm @Model.Age years old.</h2>

<p>This is my first web project..</p>

<p>Here I'm letting you link to my GitHub account...</p>

<button type="button" class="btn btn-primary" button onclick="window.location.href='https://github.com/Itskarajov15'">GitHub</button>